@model DetallesView
@{   
    ViewBag.Title = "Amigos detalles";
}

<h2>@Model.Titulo</h2>
<h3>@Model.Subtitulo</h3>
<div>
    <label>Nombre: </label><label>@Model.Amigo.Nombre</label><br />
    <label>Email: </label><label>@Model.Amigo.Email</label><br />
    <label>Ciudad: </label><label>@Model.Amigo.Ciudad</label><br />
</div>

@section Scripts
{
    <script src="~/js/myscript.js"></script>
}