@model DetallesView
@{
    ViewBag.Title = "Amigos detalles";
    var rutaFoto = string.Empty;
    if (!string.IsNullOrEmpty(Model.Amigo.ProfilePictureUrl))
    {
        rutaFoto = Model.Amigo.ProfilePictureUrl;
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.Amigo.LocalPathImage))
        {
            rutaFoto = $"/images/{Model.Amigo.LocalPathImage}";
        }
        else
        {
            rutaFoto = "~/images/noProfilePicture.jpg";
        }
    }
}

<divc class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Amigo.Nombre</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@rutaFoto" asp-append-version="true" />
                <h4>Amigo ID: @Model.Amigo.Id</h4>
                <h4>Email: @Model.Amigo.Email</h4>
                <h4>Ciudad: @Model.Amigo.Ciudad</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index4" class="btn btn-primary">Volver</a>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    </div>
</divc>
@section Scripts
    {
    <script src="~/js/myscript.js"></script>
    }

@*<h2>@Model.Titulo</h2>
<h3>@Model.Subtitulo</h3>
<div>
    @{
        if (@Model.Amigo != null)
        {
            <label>Nombre: </label>
            <label>@Model.Amigo.Nombre</label>
            <br />

            <label>Email: </label>
            <label>@Model.Amigo.Email</label>
            <br />

            <label>Ciudad: </label>
            <label>@Model.Amigo.Ciudad</label>
            <br />
        }
        else
        {
            <label>Usuario no encontrado</label>
        }
    }   
</div>

@section Scripts
    {
    <script src="~/js/myscript.js"></script>
}*@