@model List<Amigo>
@{    
    ViewBag.Title = "Amigos indice";
}
<div class="card-deck">
    @foreach(var amigo in Model)
    {
        var rutaFoto = string.Empty;
        if (!string.IsNullOrEmpty(amigo.ProfilePictureUrl)){
            rutaFoto = amigo.ProfilePictureUrl;
        }
        else
        {
            if (!string.IsNullOrEmpty(amigo.LocalPathImage)){
                rutaFoto = $"/images/{amigo.LocalPathImage}";
            }
            else
            {
                rutaFoto = "~/images/noProfilePicture.jpg";
            }
        }

        <div class="card m-3" style="min-width:18rem;max-width:30.5%;">
            <div class="card-header">
                <h3>@amigo.Nombre</h3>
            </div>
            @*TODO:
                * asp-append-version="true" como tag helper en el tag img, evita que se tenga que hacer ctl F5 para refrescar la imagen si esta cambia.
                * evita tener la imagen en caché.
            *@         
            <img class="card-img-top imagen" src="@rutaFoto" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details5" asp-route-id="@amigo.Id" class="btn btn-primary m-1">Ver</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@amigo.Id" class="btn btn-primary m-1">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    }
</div>

@*<table>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
    </tr>
    @foreach (var amigo in Model)
    {
        <tr>
            <td>@amigo.Nombre</td>
            <td>@amigo.Email</td>
            <td>@amigo.Ciudad</td>
        </tr>
    }
</table>*@